html,
body,
md-content {
  background-color: #f5f5f5 !important;
  -moz-osx-font-smoothing: grayscale;
}
md-toolbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media all and (min-width: 601px) {
  md-toolbar .md-title {
    margin-left: 56px;
  }
  md-card {
    margin: 72px;
  }
}
md-card {
  position: relative;
}
.md-button.md-icon-button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.md-button.md-icon-button > i {
  margin: auto;
}
md-data-table-toolbar.ng-hide {
  display: none;
}
md-data-table-toolbar.alternate {
  color: #1e88e5;
  background-color: #e3f2fd;
}
md-data-table-toolbar > .md-button.md-icon-button:last-child {
  margin-right: -12px;
}
md-card > md-progress-linear[md-mode=indeterminate] {
  position: absolute;
  height: 3px;
  top: -3px;
}
md-card > md-progress-linear[md-mode=indeterminate].ng-enter {
  animation: enter 1s;
  -webkit-animation: enter 1s;
}
md-card > md-progress-linear[md-mode=indeterminate].ng-leave {
  animation: leave 1s;
  -webkit-animation: leave 1s;
}
md-card > md-progress-linear[md-mode=indeterminate] > .md-container {
  height: 3px;
  top: 64px;
  transition: none;
}
md-card > md-progress-linear[md-mode=indeterminate] > .md-container > .md-bar {
  height: 3px;
}
md-dialog > md-dialog-content > p {
  margin: 16px 0;
  color: rgba(0, 0, 0, 0.54);
  line-height: 22px;
}
md-dialog > md-dialog-content > form:last-child > md-input-container:last-child {
  padding-bottom: 0;
}
md-dialog > .md-actions > .md-button {
  min-width: 70px;
}
md-dialog[delete-dialog] {
  max-width: 300px;
}
md-dialog[delete-dialog] > md-dialog-content > p:last-of-type {
  margin-bottom: 0;
}
@keyframes enter {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes enter {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes leave {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes leave {
  from { opacity: 1; }
  to { opacity: 0; }
}