html,
body,
md-content {
  background-color: #f5f5f5 !important;
  -moz-osx-font-smoothing: grayscale;
}
md-toolbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media all and (min-width: 601px) {
  md-toolbar .md-title {
    margin-left: 56px;
  }
  md-card {
    margin: 72px;
  }
}
