<span class="label" ng-if="$pagination.showPageSelect()">{{ $pagination.$label['page'] }}</span>

<md-select class="md-table-select" ng-if="$pagination.showPageSelect()" ng-model="$pagination.page" md-container-class="md-pagination-select" ng-change="$pagination.onPaginationChange()" aria-label="Page">
  <md-option ng-repeat="num in $pagination.range($pagination.pages()) track by $index" ng-value="$index + 1">{{$index + 1}}</md-option>
</md-select>

<span class="label">{{ $pagination.$label['rowsPerPage'] }}</span>

<md-select class="md-table-select" ng-model="$pagination.limit" md-container-class="md-pagination-select" aria-label="Rows" placeholder="{{$pagination.options ? $pagination.options[0] : 5}}">
  <md-option ng-repeat="rows in $pagination.options ? $pagination.options : [5, 10, 15]" ng-value="rows">{{rows}}</md-option>
</md-select>

<span class="label">{{$pagination.min() + 1}} - {{$pagination.max()}} {{ $pagination.$label['of'] }} {{$pagination.total}}</span>

<md-button class="md-icon-button" type="button" ng-if="$pagination.showBoundaryLinks()" ng-click="$pagination.first()" ng-disabled="!$pagination.hasPrevious()" aria-label="First">
  <md-icon md-svg-icon="navigate-first.svg"></md-icon>
</md-button>
<md-button class="md-icon-button" type="button" ng-click="$pagination.previous()" ng-disabled="!$pagination.hasPrevious()" aria-label="Previous">
  <md-icon md-svg-icon="navigate-before.svg"></md-icon>
</md-button>
<md-button class="md-icon-button" type="button" ng-click="$pagination.next()" ng-disabled="$pagination.disableNext()" aria-label="Next">
  <md-icon md-svg-icon="navigate-next.svg"></md-icon>
</md-button>
<md-button class="md-icon-button" type="button" ng-if="$pagination.showBoundaryLinks()" ng-click="$pagination.last()" ng-disabled="$pagination.disableNext()" aria-label="Last">
  <md-icon md-svg-icon="navigate-last.svg"></md-icon>
</md-button>