<div class="page-select syn-pagination__select" ng-if="$pagination.showPageSelect()">
  <div class="label syn-pagination__select--label">{{$pagination.label.page}}</div>

  <md-input-container md-no-float class="syn-pagination__select__select-input syn-input">
    <md-select virtual-page-select total="{{$pagination.pages()}}" class="md-table-select syn-input__select" ng-model="$pagination.page" md-container-class="md-pagination-select" ng-change="$pagination.onPaginationChange()" ng-disabled="$pagination.disabled" aria-label="Page">
      <md-content>
        <md-option ng-repeat="page in $pageSelect.pages" ng-value="page">{{page}}</md-option>
      </md-content>
    </md-select>
  </md-input-container>
</div>

<div class="limit-select syn-pagination__select" ng-if="$pagination.limitOptions">
  <div class="label syn-pagination__select--label">{{$pagination.label.rowsPerPage}}</div>

  <md-input-container md-no-float class="syn-pagination__select__select-input syn-input">
    <md-select class="md-table-select syn-input__select" ng-model="$pagination.limit" md-container-class="md-pagination-select" ng-disabled="$pagination.disabled" aria-label="Rows" placeholder="{{ $pagination.limitOptions[0] }}">
      <md-option ng-repeat="option in $pagination.limitOptions" ng-value="option.value ? $pagination.eval(option.value) : option">{{::option.label ? option.label : option}}</md-option>
    </md-select>
  </md-input-container>
</div>

<div class="buttons syn-pagination__buttons">
  <div class="label syn-pagination__buttons--label">{{$pagination.min()}} - {{$pagination.max()}} {{$pagination.label.of}} {{$pagination.total}}</div>

  <md-button md-no-ink class="md-icon-button syn-pagination__buttons--button" type="button" ng-if="$pagination.showBoundaryLinks()" ng-click="$pagination.first()" ng-disabled="$pagination.disabled || !$pagination.hasPrevious()" aria-label="First">
    <md-icon><i class="fa-regular fa-arrow-left-to-line"></i></md-icon>
  </md-button>

  <md-button md-no-ink class="md-icon-button syn-pagination__buttons--button" type="button" ng-click="$pagination.previous()" ng-disabled="$pagination.disabled || !$pagination.hasPrevious()" aria-label="Previous">
    <md-icon><i class="fa-regular fa-angle-left"></i></md-icon>
  </md-button>

  <md-button md-no-ink class="md-icon-button syn-pagination__buttons--button" type="button" ng-click="$pagination.next()" ng-disabled="$pagination.disabled || !$pagination.hasNext()" aria-label="Next">
    <md-icon><i class="fa-regular fa-angle-right"></i></md-icon>
  </md-button>

  <md-button md-no-ink class="md-icon-button syn-pagination__buttons--button" type="button" ng-if="$pagination.showBoundaryLinks()" ng-click="$pagination.last()" ng-disabled="$pagination.disabled || !$pagination.hasNext()" aria-label="Last">
    <md-icon><i class="fa-regular fa-arrow-right-to-line"></i></md-icon>
  </md-button>
</div>
