md-card {
  > md-data-table-toolbar:first-child,
  > md-data-table-container:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
  }
  
  > md-data-table-toolbar:last-child,
  > md-data-table-container:last-child,
  > md-data-table-pagination:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
  }
}