md-data-table-pagination {
  display: flex;
  
  @media all and (max-width: @md-media-sm) {
    flex-direction: column;
    align-items: stretch;
  }
  
  > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
    font-size: 12px;
    font-weight: 500;
    color: @md-dark-secondary;
    border-top: 1px @md-dark-divider solid;
    box-sizing: border-box;
    
    &:nth-child(1) {
      @media all and (min-width: @md-media-gt-sm) {
        flex: 1 1 auto;
      }
      
      > .label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin:0 32px 0 24px;
      }
      
      > md-select {
        flex: 0 0 auto;
        padding: 0;
        margin: 0 32px 0 0;
        
        > md-select-value {
          padding: 0;
          min-width: 0;
          min-height: 0;
          border-bottom: 0 !important;
          
          > span:first-child {
            flex: 1 0 auto;
            max-width: none;
            color: @md-dark-secondary !important;
            transform: none;
          }
          
          > .md-select-icon {
            align-items: center;
            margin: 0;
            color: @md-dark-icon !important;
            text-align: center;
            transform: none;
            
            &:after {
              top: 1px;
              transform: scaleY(0.5) scaleX(1);
            }
          }
        }
      }
      
      > span:last-child {
        flex: 0 0 auto;
        
        @media all and (min-width: @md-media-gt-sm) {
          margin-right: 32px;
        }
        
        @media all and (max-width: @md-media-sm) {
          margin-right: 24px;
        }
      }
    }
    
    &:nth-child(2) {
      flex: 0 0 auto;
      
      .md-button {
        display: flex;
        flex: 0 0 auto;
        padding: 0;
        min-height: 24px;
        min-width: 24px;
        
        &:not(:last-of-type) {
          margin: 0 24px 0 0;
        }
        
        &:last-of-type {
          margin: 0 18px 0 0;
        }
      }
    }
  }
}

.md-select-menu-container.md-pagination-select {
  margin-top: -2px;
  margin-left: -2px;

  md-content {
    padding: 0;

    md-option .md-text {
      font-size: 12px;
      font-weight: 500;
    }
  }
}