table[md-data-table] > tbody > tr {
  height: 48px;
  transition: background-color 0.2s;
  
  &[md-auto-select]:focus {
    outline: none;
  }
  
  &:hover {
    background-color: @md-dark-row-hover !important;
  }
  
  &[ng-repeat].ng-leave {
    display: none;
  }
  
  &.md-selected {
    background-color: @md-dark-row-select;
  }
  
  > td {
    font-size: 13px;
    color: @md-dark;
    border-top: 1px @md-dark-divider solid;
    
    &.clickable {
      cursor: pointer;
    }
    
    &.numeric {
      text-align: right;
      
      md-select {
        justify-content: flex-end;
      }
    }
    
    &:not(.numeric) {
      md-select > md-select-label {
        flex: 1 0 auto;
      }
    }
    
    > md-select {
      flex: 0 0 auto;
      padding: 0;
      margin: 0;
      
      > md-select-value {
        padding: 0;
        min-width: 0;
        min-height: 0;
        border-bottom: 0 !important;
        
        > span:first-child {
          flex: 1 0 auto;
          max-width: none;
          transform: none;
        }
        
        > .md-select-icon {
          align-items: center;
          margin: 0;
          color: @md-dark-icon !important;
          text-align: center;
          transform: none;
          
          &:after {
            transform: scaleY(0.4) scaleX(0.8);
          }
        }
      }
    }
  }
}