table[md-data-table] > thead:not([md-table-progress]) {
  > tr {
    height: 56px;
    
    > th {
      font-size: 12px;
      color: @md-dark-secondary;
      white-space: nowrap;
      
      &.md-active {
        color: @md-dark;
      }
    }
  }

  &[md-trim-column-names] > tr > th {
    transition: color 0.25s;
    
    trim {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  &[md-order][md-trim-column-names] > tr > th:not(.md-active):not(:hover) > div > md-icon {
    display: none;
  }
  
  &[md-order]:not([md-trim-column-names]) > tr > th:not(.md-active):not(:hover) > div > md-icon {
    fill: transparent;
  }
  
  &[md-order] > tr > th[order-by] {
    transition: color 0.25s;
    
    &:hover {
      color: @md-dark;
      cursor: pointer;
    }
    
    &[numeric] > div {
      justify-content: flex-end;
    }
    
    &.md-active > div > md-icon {
      fill: @md-dark;
    }
    
    &:not(.md-active) {
      > div > md-icon {
        fill: @md-dark-disabled;
      }
    }
    
    > div {
      display: flex;
      align-items: center;
      line-height: 18px;
      
      > md-icon {
        flex: 0 0 auto;
        height: 18px;
        width: 18px;
        margin: 0 4px;
        transition: fill 0.25s, transform 0.25s;
        
        &.down {
          transform: rotate(180deg);
        }
        &.up {
          transform: rotate(0deg);
        }
      }
    }
  }
}