@keyframes md-table-progress-enter {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes md-table-progress-leave {
  from { opacity: 1; }
  to { opacity: 0; }
}

table[md-data-table] > thead[md-table-progress] {
  
  &.ng-enter {
    animation: md-table-progress-enter 1s;
  }
  
  &.ng-leave {
    animation: md-table-progress-leave 1s 0.5s;
  }
  
  tr > th {
    padding: 0;
    
    > md-progress-linear {
      height: 0;
      top: -3px;
      
      > .md-container {
        height: 3px;
        top: 0;
        transition: none;
        
        > .md-bar {
          height: 3px;
        }
      }
    }
  }
}