table[md-data-table] {

  &:not([md-row-select]) > thead:not([md-table-progress]) > tr > th[trim] {
    &:first-child > div {
      right: 28px; left: 24px;
    }
    &:nth-child(n+2):nth-last-child(n+2) > div {
      right: 28px; left: 28px;
    }
  }
  
  &[md-row-select] > thead:not([md-table-progress]) > tr > th[trim] {
    &:nth-child(2) > div {
      right: 28px; left: 0;
    }
    &:nth-child(n+3):nth-last-child(n+2) > div {
      right: 28px; left: 28px;
    }
  }
  
  > thead:not([md-table-progress]) {
  
    > tr > th {
      font-size: 12px;
      color: @md-dark-secondary;
      white-space: nowrap;
      
      > div {
        display: flex;
        align-items: center;
        height: 56px;
        line-height: 18px;
      }
      
      &[numeric] > div {
        justify-content: flex-end;
      }
      
      &[trim] {
        position: relative;
        min-width: 60px;
        
        &[numeric]:hover > div {
          left: 0 !important;
        }
        &:not([numeric]):hover > div {
          right: 0 !important;
        }
        
        &:last-child > div {
          right: 24px; left: 24px;
        }
        
        > div {
          position: absolute;
          top: 0; bottom: 0;
          transition: left 0.35s ease, right 0.35s ease;
          
          > div {
            flex: 0 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    
    &[md-order] > tr > th[order-by] {
      transition: color 0.25s;
      
      &:not(.md-active):not(:hover) > div > md-icon {
        fill: transparent;
      }
      
      &.md-active {
        color: @md-dark;
        
        > div > md-icon {
          fill: @md-dark;
        }
      }
      
      &:hover {
        color: @md-dark;
        cursor: pointer;
      }
  
      &:not(.md-active):hover {
        > div > md-icon {
          fill: @md-dark-disabled;
        }
      }
      
      > div > md-icon {
        flex: 0 0 auto;
        height: 18px;
        width: 18px;
        margin: 0 4px;
        transition: fill 0.25s, transform 0.25s;
        
        &.down {
          transform: rotate(180deg);
        }
        &.up {
          transform: rotate(0deg);
        }
      }
    }
  }
}