md-data-table-toolbar {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 64px;
  background-color: #fff;
  box-sizing: border-box;

  > .md-title {
    font-size: 20px;
  }

  > .md-button {
    &:first-child {
      margin-left: -6px;
    }
    &:last-child {
      margin-right: -6px;
    }
  }
}

md-data-table-container ~ md-data-table-toolbar {
  height: 56px;
  border-top: 1px @md-dark-divider solid;
  font-size: 12px;
  font-weight: 500;
  color: @md-dark-secondary;

  > *:not(:first-child) {
    margin-left: 16px;
  }

  > *:not(:last-child) {
    margin-right: 16px;
  }
}