<md-dialog delete-dialog>
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title">Delete Items</h2>
    <p>Sorry, I don't want to repopulate the database every time someone deletes everything.</p>
    <p class="md-warn" ng-if="error" layout="row" layout-align="start center">
      <md-icon>error_outline</md-icon>
      <span>&nbsp; {{error}}</span>
    </p>
    <form name="authorize.form" ng-submit="ctrl.submit()">
      <md-input-container layout="row">
        <label>Secret</label>
        <input name="secret" type="password" ng-model="authorize.secret">
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions">
    <md-button class="md-primary" ng-click="ctrl.submit()">Delete</md-button>
    <md-button class="md-primary" ng-click="ctrl.cancel()">Close</md-button>
  </div>
</md-dialog>