<md-data-table-toolbar ng-hide="selected.length || filter.show">
  <h2 class="md-title">Nutrition</h2>
  <div flex></div>
  <md-button class="md-icon-button" ng-click="filter.show = true">
    <i class="material-icons md-dark">filter_list</i>
  </md-button>
  <md-button class="md-icon-button" ng-click="addItem($event)">
    <i class="material-icons md-dark">local_dining</i>
  </md-button>
</md-data-table-toolbar>

<md-data-table-toolbar ng-show="filter.show && !selected.length">
  <i class="material-icons md-dark">search</i>
  <form flex name="filter.form">
    <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search">
  </form>
  <md-button class="md-icon-button" ng-click="removeFilter()">
    <i class="material-icons md-dark">close</i>
  </md-button>
</md-data-table-toolbar>

<md-data-table-toolbar class="alternate" ng-show="selected.length" layout-align="space-between">
  <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
  <md-button class="md-icon-button" ng-click="delete($event)">
    <i class="material-icons md-dark">delete</i>
  </md-button>
</md-data-table-toolbar>

<md-data-table-container>
  <table md-data-table md-row-select="selected" md-progress="deferred" class="md-primary">
    <thead md-order="query.order" md-trigger="onChange">
      <tr>
        <th order-by="nameToLower">Dessert (100g serving)</th>
        <th numeric order-by="calories.value">Calories</th>
        <th numeric unit="g">Fat</th>
        <th numeric unit="g">Carbs</th>
        <th numeric unit="g">Protein</th>
        <th numeric unit="mg">Sodium</th>
        <th numeric unit="%">Calcium</th>
        <th numeric unit="%">Iron</th>
      </tr>
    </thead>
    <tbody md-auto-select>
      <tr ng-repeat="dessert in desserts.data">
        <td>{{dessert.name}}</td>
        <td>{{dessert.calories.value}}</td>
        <td>{{dessert.fat.value | number: 1}}</td>
        <td>{{dessert.carbs.value}}</td>
        <td>{{dessert.protein.value | number: 1}}</td>
        <td>{{dessert.sodium.value}}</td>
        <td show-unit>{{dessert.calcium.value}}</td>
        <td show-unit>{{dessert.iron.value}}</td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-trigger="onChange"></md-data-table-pagination>