<div>
  <span class="label">{{paginationLabel.text}}</span>
  <md-select ng-model="limit" md-container-class="md-pagination-select" ng-change="onSelect()" aria-label="Row Count" placeholder="{{rowSelect ? rowSelect[0] : 5}}">
    <md-option ng-repeat="rows in rowSelect ? rowSelect : [5, 10, 15]" ng-value="rows">{{rows}}</md-option>
  </md-select>
  <span>{{min()}} - {{max()}} {{paginationLabel.of}} {{total}}</span>
</div>
<div>
  <md-button ng-click="first()" ng-disabled="!hasPrevious()" aria-label="First">
    <md-icon md-svg-icon="templates.navigate-first.html"></md-icon>
  </md-button>
  <md-button ng-click="previous()" ng-disabled="!hasPrevious()" aria-label="Previous">
    <md-icon md-svg-icon="templates.navigate-before.html"></md-icon>
  </md-button>
  <md-button ng-click="next()" ng-disabled="!hasNext()" aria-label="Next">
    <md-icon md-svg-icon="templates.navigate-next.html"></md-icon>
  </md-button>
  <md-button ng-click="last()" ng-disabled="!hasNext()" aria-label="Last">
    <md-icon md-svg-icon="templates.navigate-last.html"></md-icon>
  </md-button>
</div>
