<span class="label">{{paginationLabel.text}}</span>
<md-select ng-model="limit" ng-change="onSelect()" aria-label="Row Count" placeholder="{{rowSelect ? rowSelect[0] : 5}}">
  <md-option ng-repeat="rows in rowSelect ? rowSelect : [5, 10, 15]" ng-value="rows">{{rows}}</md-option>
</md-select>
<span>{{min()}} - {{max()}} {{paginationLabel.of}} {{total}}</span>
<md-button ng-click="previous()" ng-disabled="!hasPrevious()" aria-label="Previous">
  <md-icon md-svg-icon="templates.navigate-before.html"></md-icon>
</md-button>
<md-button ng-click="next()" ng-disabled="!hasNext()" aria-label="Next">
  <md-icon md-svg-icon="templates.navigate-next.html"></md-icon>
</md-button>