<md-data-table-toolbar ng-show="!selected.length">
  <h2 class="md-title">Nutrition</h2>
</md-data-table-toolbar>

<md-data-table-toolbar class="alternate" ng-show="selected.length">
  <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
</md-data-table-toolbar>

<md-data-table-container>
  <table md-data-table md-row-select="selected" md-progress="deferred">
    <thead md-order="query.order" md-trigger="onorderchange">
      <tr>
        <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}"></th>
        <!-- <th class="custom" order-by="name" unit="100g serving" name="Dessert"></th>
        <th order-by="type" name="Type" descend-first></th>
        <th numeric order-by="calories.value" name="Calories"></th>
        <th numeric unit="g" order-by="fat.value" name="Fat"></th>
        <th numeric unit="g" order-by="carbs.value" name="Carbs"></th>
        <th numeric unit="g" order-by="protein.value" name="Protein" trim></th>
        <th numeric unit="mg" order-by="sodium.value" name="Sodium"></th>
        <th numeric unit="%" order-by="calcium.value" name="Calcium"></th>
        <th numeric unit="%" order-by="iron.value" name="Iron" hide-sm></th> -->
      </tr>
    </thead>
    <tbody>
      <tr md-auto-select md-disable-select="dessert.calories.value > 300" ng-repeat="dessert in desserts.data | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
        <td>{{dessert.name}}</td>
        <td>
          <md-select ng-model="dessert.type" placeholder="Other">
            <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
          </md-select>
        </td>
        <td>{{dessert.calories.value}}</td>
        <td>{{dessert.fat.value | number: 2}}</td>
        <td>{{dessert.carbs.value}}</td>
        <td>{{dessert.protein.value | number: 2}}</td>
        <td>{{dessert.sodium.value}}</td>
        <td show-unit>{{dessert.calcium.value}}</td>
        <td show-unit hide-sm>{{dessert.iron.value}}</td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-trigger="onpagechange"></md-data-table-pagination>

<md-data-table-toolbar >
  <md-button ng-click="loadStuff()">Trigger Outside Event</md-button>
</md-data-table-toolbar>